@media (max-width: 1366px) and (min-width: 1024px){
	.text-anonsi h1 {
		font-size: 45px!important;
		letter-spacing: 0.1em
	}
	.block-clock {
		position: relative;
		left: -25%!important
	}
	.main-history-block{
		left: 25%!important
}
.history-text-items p{
	font-size: 14px!important
}
} 
@media (max-width: 812px){
		.mobile-contact{
		margin-left: 7%
	}
}
@media (max-width: 414px) and (min-width: 414px) {
		.text-anonsi h1{
		font-size: 40px!important
	}
	.text-options h1{
		font-size: 30px!important
	}
	.span{
		font-size: 16px!important
	}
	.block-mobil-contact h5{
		font-size: 16px!important
	}
	.pl-6{
		padding-left: 30%!important
	}
	.block-clock {
		left: 15%;
		position: relative;
	}
	.block-pt{
		margin-top: 24%
	}
}
@media (min-width: 320px) and (max-width: 414px){
	.logo{
		margin-left: 15px!important
	}
		.text-his h1{
		font-size: 45px!important
	}
	.text-anonsi h1{
		font-size: 24px!important
	}
}
@media (max-width: 1366px){
		.contact-img{
		height: 400px!important
	}	

}
@media (min-width: 1366px){

	.mobile-contact  {
		padding-left: 5%
	}
	.posi-ab{
		left: 0%;
		top: 112%
	}
	.img-text {
		font-size: 90px!important;
		bottom: 0%
	}
	.footer-block {
		padding-top: 30%
	}
	.p-options {
		max-width: 63%
	}
.footer-block{
	max-width: 100%;
	margin-left: 30%
}
	/*anonsi*/

}
@media (min-width: 812px){
		.anonsi{
			margin-left: 5%
	}

}
@media (max-width: 812px) and (min-width: 320px) {
	.pdd-anonsi {
		padding: 15px!important
	}
	.none-block {
		display: none!important;
	} 
	.history-block-one h2 {
		font-size: 20px
	}
	.posi-ab {
		position: absolute!important;
		bottom: 0px;
		right: 70%;
	}
	.posi-ab img {
		width: 150px;
		height: 180px;
	}
	.posi-rel {
		margin: 0px!important;
	}
	.text-anonsi h1{
		padding-left: 0%!important;
		font-size: 30px!important
	}


	.history-block h1 {
		font-size: 43px!important
	}
	.hi-text h2 {
		font-size: 45px!important
	}
	.time-block span {
		padding: 6px!important
	}
	.grafik span {
		font-size: 9px!important
	}

	.history-text-mobile {
		justify-content: flex-start!important;
		display: flex;
	}

	/*anonsi*/
	.text-anonsi {
		width: 30%
	}
	.col-6 {
		max-width: 100%;
		flex: 100%
	}
	.activ {
		top: 10px!important;
		right: 5%!important
	}


	/*contact*/
	.grafik span {
		line-height: 13px!important
	}
	.block-clock span{
		line-height: 0px!important;
	}
	.block-pt {
		padding-top: 0px!important
	}
	html {
		overflow: auto!important;
	}
}
@media (min-width: 320px) and (max-width: 414px){
		/*history*/
	.main-history-block{
		width: 100%!important
	}
	.block-img-item{
		left: -74%!important
	}
	.history-text-items{
		left: 33%!important
	}
	.history-text-items p{
		font-size: 12px!important;
		line-height: 16px!important;
		width: 221px!important
	}
	.text-year h3{
		font-size: 80px!important;
	}
	.text-year{
		bottom: -18%!important
	}
}

@media (min-width: 568px) and (max-width: 667px){
	.main-history-block{
		width: 100%!important
	}
	.history-text-items{
		left: 30%!important
	}
	.text-year h3{
		font-size: 80px!important
	}
	.text-year{
		bottom: -17%!important
	}
}
@media (min-width: 375px){
		.posi-ab {
		bottom: 12%!important
	}

}
@media (max-width: 375px) and (min-width: 375px){
	.text-anonsi h1{
		font-size: 40px!important
	}
	.text-options h1{
		font-size: 30px!important
	}
	.span{
		font-size: 16px!important
	}
	.block-mobil-contact h5{
		font-size: 16px!important
	}
	.pl-6{
		padding-left: 30%!important
	}
	.block-clock {
		left: 15%;
		position: relative;
	}
	.block-pt{
		margin-top: 24%
	}
}



@media (min-width: 568px) and (max-width: 568px){

	.posi-ab {
		right: 75%!important;
		top: 137%!important;
		right: 10%;
		bottom: 10%
	}
	.d-no {
		display: block!important;
	}
	.accord-text-options h5 ~ div p {
		padding-top: 0px!important
	}
	.activ {
		top: 10px!important;
		right: 5%!important
	}
	.prr-5{
		padding: 10px 58px 0px 0px!important
	}
	.ptt-4 {
		padding: 10px 0px 0px 0px!important
	}
	.text-anonsi  {
		display: flex;
	}
	.anonsi-botton {
		display: flex;
		justify-content: flex-start!important;
	}



}

@media (max-width: 736px) and (min-width: 414px) {
		.posi-ab {
		bottom: 13%!important
	}
}

@media (max-width: 812px) and (min-width: 568px){
	.posi-rel{
		margin: 0px 100px 0px 100px!important
	}
	.d-no {
		display: none
	}
	.none-block {
		display: block!important;
	}
	.block-mobil-contact{
		display: flex!important;
		justify-content: space-between;
	}
		.grafik span {
		font-size: 12px!important
	}
		.grafik span {
		padding: 3px!important
	}

	/*anonsi*/
	.col-6 {
		max-width: 50%!important;
		flex: 50%!important
	}
	.prr-5{
		padding: 10px 58px 0px 0px!important
	}
	.ptt-4 {
		padding: 10px 0px 0px 0px!important
	}
	.text-anonsi  {
		padding: 50px 0px 50px 0px
	}
	.anonsi-botton {
		display: flex;
		justify-content: flex-start!important;
	}
	/*contact*/
	.contact-text-footer{
		width: 100%!important
	}
	html {
		overflow: auto!important;
	}

}

@media (max-width: 812px) and (min-width: 667px){

	.posi-ab {
		position: absolute;
		bottom: 5%!important;
		right: 80%
	}
	.posi-ab img {
		width: 200px;
		height: 200px;
	}

	.bg-2{
		order: 0!important
	}
	.p-options {
		width: 99%!important
	}
}

@media (max-width: 411px) and (min-width: 384px){
	.text-options h1{
		font-size: 40px!important
	}
	.block-mobil-contact h5{
		font-size: 16px!important
	}
	.block-pt{
		margin-top: 25%
	}
}
@media (max-width: 360px) and (min-width: 360px){
	.block-mobil-contact h5{
		font-size: 16px!important
	}	
	.block-clock {
    position: relative!important;
    left: 6%!important;
}
.block-pt{
	padding-top: 17%!important
}
	.text-options h1{
		font-size: 40px!important
	}
		.text-options h1{
		font-size: 40px!important
	}
}

@media (min-width: 320px) and (max-width: 320px) {
	.mobile-contact{
		margin-left: 0%
	}
		.main-history-block{
		width: 100%!important
	}
	.block-img-item{
		left: -74%!important
	}
	.history-text-items{
		left: 33%!important
	}
	.history-text-items p{
		font-size: 9px!important;
		line-height: 19px!important;
		width: 190px!important
	}
	.text-year h3{
		font-size: 80px!important;
	}
	.text-year{
		bottom: -18%!important
	}
		.text-anonsi h1{
		font-size: 40px!important
	}
	.text-options h1{
		font-size: 30px!important
	}
	.span{
		font-size: 16px!important
	}
	.block-mobil-contact h5{
		font-size: 16px!important
	}
	.pl-6{
		padding-left: 30%!important
	}
	.block-clock {
		left: 10%;
		position: relative;
	}
	.block-pt{
		margin-top: 24%
	}
}
@media (max-width: 812px) and (min-width: 320px){

	}
@media (min-width: 320px){
	.posi-ab{
		bottom: 26%
	}
}



@media (min-width: 1024px) {
				.text-anonsi  {
		width: 30%!important;
		padding: 50px 0px 50px 0px
	}



	.block-mobil-contact{
		max-width: 65%;
	}
	.text-zoom {
		max-width: 130%!important;
		flex: 130%!important;
		z-index: 999
	}
	.posi-rel {
		margin: 0px 0px 0px 300px!important
	}
	.posi-ab {
		bottom: 10%!important;
	}
	.posi-ab img {
		width: 260px
	}

	.mobile-contact{
		padding-left: 10%!important;
	}
	.contact-img{
		height: 100%!important
	}

	.footer-block {
		margin-left: 30%
	}	


	/*contact*/


}

@media (max-width: 1024px){

	.section-two{
	margin-bottom: 500px!important
}

	.img-text {
		font-size: 110px!important
	}
		.logo {
		margin-left: 0px
			}
			.text-anonsi{
				margin-left: 5%
			}


	/*anonsi*/

	/*contact*/

	.contact-img  {
		width: 100%!important;
		z-index: -99;
		clip: inherit;
		overflow: hidden!important;
		height: 440px
	}
	.contact-img img{
		width: 100%!important
	}




} 

@media (max-width: 768px) {
	.text-anonsi h1{
		font-size: 30px!important;
		padding-left: 5%
	}
	.anonsi-botton{
		justify-content: flex-end!important;
		display: flex;
		margin-left: 22%
	}
	.time-block span{
		padding-top: 10%;
	}

	/*contact*/
	.contact-img img {
		width: 100%!important
	}

}
@media (max-width: 1440px) and (min-width: 1440px){
	.block-mobil-contact{
		display: flex;
		justify-content: space-between;
	}
		.text-zoom {
		max-width: 100%!important;
		flex: 100%!important;
	}
	.mobile-contact {
		padding-left: 60px!important
	}
	.img-text {
		bottom: 0px!important;
		right: 00%!important;
		font-size: 200px!important
	}
}



@media (max-width: 1440px) and (min-width: 1024px) {
	.block-mobil-contact {
		max-width: 130%;
		flex: 130%;
		display: flex;
		justify-content: space-between;
	}
	.text-anonsi  {
		width: 30%!important;
		padding: 50px 0px 50px 0px
	}	
	.anonsi-botton{
		justify-content: flex-end!important;
		display: flex;
		margin-left: 10%
	}

	}




@media (max-width: 1366px) and (min-width: 1024px){
	.img-text {
		position: relative;
		bottom: 0px
	}
	.mobile-contact  {
		padding-left: 5%
	}
}

@media (min-width: 956px){
			.mobile-contact  {
		padding-left: 13%
	}
	.text-zoom {
		max-width: 90%;
		flex: 90%
	}
}


@media (max-width: 812px) and (min-width: 375px){
	.language {
		padding-left: 100px
	}
	.text-anonsi{
				margin-left: 5%
			}
				.text-anonsi{
		width: 90%!important
	}
	/*contact*/


}



@media (max-width: 568px) and (min-width: 320px){
	.block-mobil-contact h5 {
		font-size: 16px
	}	.contact-text-footer{
		width: 100%
	}
	.text-anonsi h1{
		font-size: 30px!important;
		display: flex
	}

	.text-anonsi{
		width: 90%!important
	}

}

@media (min-width: 2560px){

	/*history*/
	.mobile-contact {
		padding-left: 10%
	}

	.block-mobil-contact {
		display: flex;
		justify-content: space-between;
		max-width: 60%
	}
	.text-zoom {
		max-width: 80%!important;
		flex: 60%;
	}
	.posi-ab  {
		top: 102%!important
	}
	.p-options p{
		width: 80%!important;
		font-size: 20px!important
	}
	.posi-ab img {
		width: 315px;
		height: auto;
	}
	.footer-block div{
		width: 50%
	}
	.p-options{
		width: 30%!important
	}
	/*anonsi*/
	.text-anonsi {
		width: 30%;
	}
	.anonsi-botton {
		margin-left: -17.5%
	}

}

@media (min-width: 1760px){
	.posi-ab  {
		bottom: 5%!important
	}
	.footer-block h3{
		padding-bottom: 5%
	}
		/*anonsi*/
	.text-anonsi {
		width: 30%;
	}
	.anonsi-botton {
		margin-left: -17.5%
	}

}
@media (max-width: 2560px) and (min-width: 2560px) {
		.img-text {
		bottom: 0px!important;
		right: 30%!important;
		font-size: 140px!important;
		margin-top: 95px
	}

}
@media (max-width: 1919px) and (min-width: 1279px){
	.text-anonsi h1{
		font-size: 71px!important
	}
}

/*specification*/
.no-gutters {
	padding: 0px;
}
.contact-footer-bg {
	background-image: url(../images/cart.png);
	background-size: cover;
}
.bg-fon-contact{
	background: #222222!important
}
.pl-6{
	padding-left: 4em
}

@media (max-width: 768px) and (min-width: 768px){
	.mobile-contact {
		margin-left: 7.5%
	}
}
@media (min-width: 768px){
	.posi-ab {
		position: absolute!important;
		bottom: 6%!important;
	}
		.section-two{
	margin-bottom: 500px
}
	.text-his h1{
		font-size: 83px
	}


	/*contact*/
	

}
@media (min-width: 1536px) {
	.posi-ab {
		top: 116%
	}
	.text-anonsi  {
		width: 40%;
	}
	.p-options{
		width: 100%!important
	}
}
@media (min-width: 1125px){
	.mobile-contact{
		padding-left: 7%!important
	}

	.block-mobil-contact{
		padding-top: 5%!important
	}

	.contact-text-footer p {
		font-size: 13px!important
	}
}
@media (max-width: 1480px) and (min-width: 1439px){
		.text-options h1{
		font-size: 45px!important
	}
	.block-mobil-contact h5 {
		font-size: 16px!important
	}
	.grafik span,.block-clock span{
		font-size: 12px!important
	}
	.block-clock{
		left: 40%!important
	}
	.official h5 {
		font-size: 16px
	}
	.block-pt {
		margin-top: 15%
	}
}
@media (max-width: 1440px) and (min-width: 1201px){
	.text-options h1{
		font-size: 45px!important
	}
	.block-mobil-contact h5 {
		font-size: 16px!important
	}
	.grafik span,.block-clock span{
		font-size: 12px!important
	}
	.block-clock{
		left: -40%!important
	}
	.official h5 {
		font-size: 16px
	}
		.block-pt {
		margin-top: 15%
	}
}
@media (min-width: 1280px){

	.zoom-text h5{
		font-size: 25px!important
	}
	.zoom-text h5 ~ span {
		font-size: 12px
	}
	.accord-text-options h5{
		font-size: 
	}
}

@media  (min-width: 1025px) and (max-width: 1370px) {
	.section-p-options p {
		font-size: 12px!important;
	}
	.p-options {
		width: 100%!important;
	}
	.section-fou p {
		font-size: 12px!important
	}

}

@media (min-width: 1906px) and (max-width: 2559px){
	.block-clock{
		margin-left: 20%
	}  
}
@media (min-width: 1920px){
	.logo {
		width: 205px!important
	}
	.history-block h1{
		font-size: 71px!important
	}
	.history-block h2{
		font-size: 35px!important
	}
	.history-block-one{
		padding-top: 105px
	}

	.posi-ab{
		top: 80%;
		left: -15%;
	}
	.posi-ab img {
		width: 400px
	}
	.size h1,.img-text{
		font-size: 120px!important
	}
	.section-fou p{
		max-width: 80%
	}
	/*contact*/
	.mobile-contact{
		padding-left: 14%!important
	}
	.span{
		font-size: 25px!important;
	}
	.contact-text-footer p{
		font-size: 16px!important
	}
	.contact-text-footer{
		max-width: 70%
	}
	.mobile-contact {
		max-width: 51%;
		flex: 64%
	}
	.block-mobil-contact{
		padding-top: 136px!important;
		padding-bottom: 96px;
		max-width: 100%
	}
	.contact-text-footer p{
		line-height: 23px
	}
	.contact-img{
		max-width: 100%;
		flex: 25%
	}
	/*anonsi*/
	.text-anonsi h1{
		font-size: 71px!important
	}
}










.accord-text-options h5 ~ div p {
	color: #BBBBBB
}
.anonsi-botton{
	max-width: 1221px;
  	width: 100%;
  	margin: 0 auto
}

.section-p-options p,.section-fou p{
	color: #D0D0D0
}
.block-clock {
  position: relative;
  left: 10%
}

.header-ittem {
	padding-left: 2%
}