@import url('https://fonts.googleapis.com/css?family=Montserrat')
body {
  font-family: 'Montserrat', sans-serif
}

html,body {
  overflow: hidden;
}

a,a:hover{
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%
}
#mob-nav {
  position: fixed;
  width: 375px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  overflow-y: scroll;
  background: #222; }
  #mob-nav .close_btn {
    margin-top: 22px;
    margin-right: 28px;
    display: block;
    margin-left: auto; }
  #mob-nav .mob-nav__menu {
    margin-left: 40px;
    top: 20%;
    position: absolute; }
  #mob-nav .mob-lang {
    color: #fff;
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    margin-left: 70px; }
  #mob-nav .mob-nav__menu__item {
    padding: 20px 0 10px 30px; }
    #mob-nav .mob-nav__menu__item a {
      color: #fff;
      letter-spacing: 0.04em;
      text-transform: uppercase; }

.toggle-button {
  display: none; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #fff;
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

a {
  color: #fff; }

ul, p {
  margin: 0; }

#hero {
  height: 100vh;
  position: relative;
  font-family: Montserrat;
  color: #fff;
  background: url("../img/background.jpg") no-repeat center top/cover; }

#header{
  width: 100%;
}

.logo{
  margin-left: 90px;
  width: 163px
}

.lang{
  margin-right: 50px;
}

.lang span, .desc_menu li a {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase; }

.lang span:hover, .desc_menu li a:hover {
  color: #AC50F4;
  text-decoration: none; }

.desc_menu li a {
  margin-right: 60px; }

.desc_menu, .lang {
  font-size: 12px; }

.hashtag {
  position: absolute;
  left: -80px;
  top: 65%;
  margin-top: 40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 16px;
  letter-spacing: 0.36em;
  color: rgba(255, 255, 255, 0.5); }

.offer {
  text-transform: uppercase;
  position: relative; 
  top: 70px
}

.offer__title {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.1em; }
.domload-text {
  padding-left: 3%;
  display: flex;
}
.offer__text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em; }
.offer__download{
      text-transform: none;
    position: absolute;
    left: 9.5%;
    top: 2%;
    z-index: 9;
    width: 100%
}
 
.offer__btn {
  background: #6A2C9A;
  border-radius: 2px;
  padding: 6.5px 40px;
  margin-top: 42.15px;
  border: none;
  color: #fff;
  text-transform: uppercase; }
   }
  .offer__download .download_text {
    font-size: 14px;
    margin-right: 8%
     }
  .offer__download img {
    margin-right: 21px; }

    .offer__download img:last-child {
    margin-right: 0px; }

.read_more_link{
  position: absolute;
  bottom: 20px;
}

.show {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .show .show_nav {
    width: 50%;
    height: 68px }
    .show .show_nav .show_play {
      border: none;
      width: 100px;
      height: auto;
      background: #6A2C9A; }
      .show .show_nav .show_play img {
        width: 50%; }
    .show .show_nav .show_start {
      text-transform: uppercase;
      padding: 10px 0px 0px 47px;
      background: #29292D;
      width: calc(100% - 100px); }
      .show .show_nav .show_start .show_title_one {
        font-weight: bold;
        font-size: 20px; }
  .show .show_text {
    width: 50%;
    height: 167px }
    .show .show_text .show_text_box {
      width: 50%;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;}
      .show .show_text .show_text_box .read_more_arrow {
        padding-top: 7%
         }
      .show .show_text .show_text_box .show_text_box_text { }
      .show .show_text .show_text_box .learn_more {
        color: #AB4FF2;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        margin-top: 11% }
    .show .show_text .show_text_box1 {
      color: #000;
      background: #fff;
      padding: 27px 39px }
    .show .show_text .show_text_box2 {
      background: #6A2C9A;
      padding: 27px 39px; }
    .show .show_text .show_text_box_title {
      font-size: 16px;
      font-weight: bold; }
    .show .show_text .show_text_box_text {
      font-size: 12px; }
.modal-header {
  display: block; }
  .modal-header h5 {
    font-size: 20px;
    font-weight: bold; }
  .modal-header h2 {
    font-size: 18px; }

.modal-body {
  padding: 0px; }
  .modal-body h4 {
    color: #6A2C9A;
    font-size: 18px; }
.show_title_two {
  font-size: 12px
}

.app img {
  width: 105px
}
.google img {
  width: 105px
}
.modal-header h5 {
    font-size: 20px;
    font-weight: bold;
    color: black;}
  .modal-header h2 {
    font-size: 18px;
    color: #29292D
}
