#before-load {
    position: fixed;
    /*фиксированное положение блока*/
    left: 0;
    /*положение элемента слева*/
    top: 0;
    /*положение элемента сверху*/
    right: 0;
    /*положение элемента справа*/
    bottom: 0;
    /*положение элемента снизу*/
    background: black;
    /*цвет заднего фона блока*/
    z-index: 999999999999;
    /*располагаем его над всеми элементами на странице*/
    height: 100vh;
}

#before-load img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50vh
}