@media screen and (max-width: 1300px) {
	.hashtag {
		display: none;
	}
	.offer {
		margin-top: 0vh;
		margin-left: 0%;
		top: 0px;
	}

}


@media (max-width: 1300px) and (min-width: 1250px){

	.google,.app {
		margin-top: 1%
	}
	.offer__download .download_text {
		display: flex;
	}
}



@media screen and (max-width: 1250px) {

	/* Offer */
	.offer__title {
	    font-size: 65px;
	}

	.offer__text{
		font-size: 25px;
	}

	.offer__btn{
		padding-left: 35px;
		padding-right: 35px;
	}

	.offer__download{
		bottom: 145px;
	}
	/* Show */

	.show .show_nav .show_start .show_title_one {
	    font-weight: bold;
	    font-size: 22px;
	}

    .show .show_nav .show_start{
	    padding: 10px 20px 20px 40px;
	}

    .show .show_nav .show_play {
	   	width: 100px;
	    height: auto;
	}

	.show .show_text .show_text_box {
		padding: 25px 0 23px 29px;
	}

	.offer__download .download_text {
	    font-size: 12px;
	    padding-right: 2%
	}

	.offer__download img {
	    width: 99px;
		height: 35px;
	}

	.show .show_text .show_text_box_text {
	    font-size: 12px;
	    width: auto !important;
	}


	.hashtag{
		font-size: 20px;
		left: -130px;
	}

}


@media (min-width: 411px) and (max-width: 412px){
	.domload-text{
		left: 18%!important;
		position: relative!important;
	}
	.offer{
		margin-left: 0%!important;
		margin-top: -20%;
}
	.logo{
		margin-left: 20%!important;
	}
	.show .show_nav{
		height: 60px!important
	}
}
@media (max-width: 375px){
	.logo {
		margin-left: 2px
	}	
	.show .show_nav{
		height: 55px
	}
		.offer{
		margin-left: 1%!important
	}
}


@media (max-width: 414px){
			.offer{
		margin-left: 1%!important
	}
}
@media (max-width: 415px) and (min-width:414px){
		.domload-text{
		left: 11%!important;
		position: relative!important;
	}
	.offer{
		margin-left: 0%!important;
		margin-top: -20%;
}
	.logo{
		margin-left: 20%!important;
	}
	.show .show_nav{
		height: 60px!important
	}
} 

@media (max-width: 1024px) and (max-height: 887px){
	.offer__download{
		bottom: 17%
	}
}



/* 768px - 992px*/
@media screen and (max-width: 992px){
	.desc_menu{
		justify-content: space-between;
	}

	.show{
		flex-direction: column;
	}	
	.show .show_nav, .show .show_text{
		width: 100%;
	}

	.show_text{
		order: -1;
	}

	.offer__download{
		right: 0%;
		left: auto;
	}

	.offer__download  {
		top: -26%
	}
}



@media screen and (max-width: 846px) {
	.lang{
		margin-right: 0;
	}
}



/* 576px - 768px*/
@media screen and (max-width: 768px){
	.nav_box, .lang, .hashtag_box{
		display: none;
	}


	.offer__download{
		left: 45%;
	}

	.toggle-button{
		display: block;
	}
	.logo {
		margin-left: 0px
	}
	.language {
		margin-left: 10%
	}
}



@media (max-width: 768px) and (min-width: 768px){
	.offer__download{
		margin-left: 35%
	}
	.show .show_nav{
		height: 65px!important
	}

}



/* 320px - 665px*/
@media screen and (max-width: 665px) and (min-height: 375px){
	.logo-p{
		margin-left: 32px;
		padding:0px!important;
	}

	.offer__title{
		font-size: 25px;
		width: 255px;
	}
	.offer__text{
		font-size: 12px;
		width: 30%;
	}
	.offer__btn{
		font-size: 9px;
		padding: 5px 20px;
		margin-top: 19px;
	}
	.show{
		position: static;
	}

	.show_nav, .show_text_box1, .show_text_box2{
		position: absolute;
	}

	.show .show_text .show_text_box_title{
		font-size: 12px;
	}

	.show .show_text .show_text_box_text{
		font-size: 9px;
	}	

	.show .show_text_box .show_text_box_text{
		width: 111px !important;
	}

	.show .show_text .show_text_box .learn_more, .read_more_arrow{
		display: none;
	}

	.show_nav{
		bottom: 0;
	}

	.show .show_text .show_text_box{
		padding: 15px;
		margin-top: 10%;
		position: absolute;
	}

	.show_text_box{
		width: 45% !important;
	}

	.show_text_box1{
		top: 39%;
    	left: 8%;
	} 

	.show_text_box2{
		top: 48%;
    	right: 10%;
	}

	.offer__download{
		bottom: 10%;
		width: 100%;
		padding: 0 5%;
		top: -65%
	}

	.offer__download .download_text{
		font-size: 9px;
		margin-right: auto;
	}

	.offer_download img{
		width: 70px;
		height: 25px;
	}

	.show .show_nav .show_start .show_title_one{
		font-size: 16px;
	}

	.show .show_nav .show_play{
		width: 50px;
		height: auto;
	}

	.show .show_nav .show_start{
		width: calc(100% - 50px);
		padding: 8px 20px
	}

	.show .show_nav .show_start .show_title_one{
		font-size: 12px;
	}

	.show_title_two{
		font-size: 9px;
	}

	.offer__download img{
		width: 50px;
		height: 20px;
	}
}



@media screen and (max-width: 375px){
	#mob-nav{
		width: 100%;
	}

}
@media (max-width: 375px){
			.domload-text{
		left: 10%!important;
		position: relative;
	}
	.offer{
		margin-left: 0%!important;
		margin-top: 0%;
}
	.logo{
		margin-left: 20%!important;
	}
	.show .show_nav{
		height: 60px
	}
}


@media (max-width: 376px) and (min-width: 375px){
	.offer {
    margin-top: 5vh!important
}
	.offer{
	margin-left: 0%!important;
}
	.domload-text{
		position: relative;
		left: 5%
	}
	.offer__download{
		padding: 0px;
		margin-left: 10px
	}
	.show .show_nav{
		height: 60px
	}
	.padding {
  margin-right: 0px;
  margin-left: 0px
}

}


@media screen and (max-height: 426px){
	#header{
		min-height: 320px
	}
	.offer{
		margin-top: 35vh;
		padding-left: 10%;
	}
	.offer__title{
		font-size: 30px;
	}

	.offer__text{
		font-size: 16px;
	}

	.offer__btn, .offer__download, .nav_box, .lang, .hashtag_box{
		display: none !important;
	}

	.toggle-button{
		display: block;
	}

	.show{
		flex-direction: row
	}

	.show .show_text{
		order: 0;
		height: 100px
	}

	.show .show_text .show_text_box{
		padding: 17px 0 13px 14px;
	}

	.show .show_nav .show_start .show_title_one,
	.show .show_text .show_text_box_title{
		font-size: 9px;
	}

	.show .show_text .show_text_box_text{
		font-size: 9px;
		margin-right: 10px;
	}

	.show_title_two{
		font-size: 9px;
	}

	.show .show_text .show_text_box .learn_more,.show .show_text .show_text_box .read_more_arrow{
		display: none
	}

	.show .show_nav .show_play{
		width: 50px;
		height: auto;
	}

	.show .show_nav .show_start{
		padding: 10px 20px 10px 20px;
		width: calc(100% - 50px);
	}

	 .show .show_text .show_text_box .show_text_box_text {
        margin-top: 0; }
}



@media screen and (max-height: 360px) {
	.mob-lang, .mob-nav__menu{
		position: static !important;
	}
}


@media (min-width: 1125px) and (max-width: 1125px){
	.offer{
		margin-left: 17px;
		top: 0px
	}

}


@media (max-width: 320px ){
	.show .show_nav {
		height: 50px
	}
	.show .show_text .show_text_box {
		margin-top: 20%
	}		
	.offer__download{
		left: 10%;
	}
}
@media (max-width: 384px) and (min-width: 384px){
	.show .show_nav{
		height: 50px
	}
	.domload-text{
		left: 13%;
		position: relative;
	}
	.offer{
		margin-left: 0%!important;
		margin-top: -20%
}
	.logo{
		margin-left: 20%!important
	}
}
@media (max-width: 360px) and (min-width: 360px){
	.offer{
		margin-top: 5vh
	}
	.domload-text{
		left: 6%;
		position: relative;
	}	.show .show_nav{
		height: 50px
	}
	.domload-text{
		left: 1%!important;
		position: relative;
	}
	.offer{
		margin-left: 0%!important;
		margin-top: -20%
}
	.logo{
		margin-left: 20%!important
	}
}


@media (min-width: 812px){
	.language {
		margin-left: 15%
	}

}
@media (max-width: 812px) and (min-width: 812px){
			.offer {
    margin-top: -44%!important;
    margin-left: 0%;
}
}


@media (min-width: 320px) and (max-width: 320px){
	.offer {
    margin-top: -10vh;
    margin-left: 0%!important
}
			.offer__download{
		left: 3%!important;
	}
	.domload-text{
		left: 0%!important
	}
}


@media (min-width: 1824px){
		.offer__title {
		font-size: 95px
	}
	.offer__text{
		font-size: 35px
	}
	.hashtag{
		font-size: 20px;
	}
	.show .show_nav{
		height: 102px
	}
	.show .show_nav .show_start .show_title_one{
		font-size: 35px
	}
	.show_title_two,.show .show_text .show_text_box_text{
		font-size: 18px;
	}
	.show_text_box_text{
		padding: 20px 50px 0px 0px
	}
	.show .show_nav .show_start{
		padding: 20px 0px 0px 48px
	}
	.show .show_text{
		height: 242px
	}
	.offer {
		margin-left: 0px
	}
	.offer__download{
		left: 10%
	}
	.show .show_text .show_text_box_title{
		font-size: 20px
	}
	.show .show_text .show_text_box .learn_more{
		font-size: 18px;
	}
	.show .show_text .show_text_box .learn_more{
		margin-top: 7%
	}
	.show .show_text .show_text_box .read_more_arrow {
		padding-top: 8%
	}
	.app img{
		width: 141px
	}
	.google img{
		width: 141px
	}
}


@media (max-width: 1919px) and (min-width: 1825px){
		.offer__title {
		font-size: 95px
	}
	.offer__text{
		font-size: 35px
	}
	.hashtag{
		font-size: 20px;
	}
	.show .show_nav{
		height: 102px
	}
	.show .show_nav .show_start .show_title_one{
		font-size: 35px
	}
	.show_title_two,.show .show_text .show_text_box_text{
		font-size: 18px;
	}
	.show_text_box_text{
		padding: 20px 50px 0px 0px
	}
	.show .show_nav .show_start{
		padding: 20px 0px 0px 48px
	}
	.show .show_text{
		height: 242px
	}
	.offer {
		margin-left: 185px
	}
	.offer__download{
		left: 18.5%
	}
	.show .show_text .show_text_box_title{
		font-size: 20px
	}
	.show .show_text .show_text_box .learn_more{
		font-size: 18px;
	}
	.show .show_text .show_text_box .learn_more{
		padding-top: 7%
	}
	.show .show_text .show_text_box .read_more_arrow {
		padding-top: 8%
	}
	.app img{
		width: 141px
	}
	.google img{
		width: 141px
	}
}


@media (max-width: 1920px) and (min-width: 1537px){
	.offer__title {
		font-size: 71px
	}
	.offer__text{
		font-size: 35px
	}
	.hashtag{
		font-size: 20px!important;
		left: -75%!important;
		top:75%!important;
	}
	.show .show_nav{
		height: 102px
	}
	.show .show_nav .show_start .show_title_one{
		font-size: 25px
	}
	.show_title_two,.show .show_text .show_text_box_text{
		font-size: 14px;
	}
	.show_text_box_text{
		padding: 20px 50px 0px 0px
	}
	.show .show_nav .show_start{
		padding: 20px 0px 0px 48px
	}
	.logo{
		width: 205px
	}
	.navbar-light .navbar-nav .nav-link{
		font-size: 14px
	}
	.show .show_text{
		height: 242px
	}
	.offer {
		margin-left: -1%;
		margin-top: 6%
	}
	.offer__download{
		left: 8.5%
	}
	.show .show_text .show_text_box_title{
		font-size: 20px
	}
	.show .show_text .show_text_box .learn_more{
		font-size: 16px;
	}
	.show .show_text .show_text_box .learn_more{
		margin-top: 7%
	}
	.show .show_text .show_text_box .read_more_arrow {
		padding-top: 8%
	}
	.app img{
		width: 141px
	}
	.google img{
		width: 141px
	}
	.read_more_link {
    position: absolute;
    bottom: 22px;
}
.offer__btn{
	width: 285px;
	height: 55px
}
.domload-text{
	padding-left: 4.5%
}
.read_more_arrow {
	position: relative;
	bottom: 10px
}
}

@media (min-width: 1366px) and (max-width: 1367px){
	.offer{
		top: 0px;
	}
	.hashtag{
		top: 20%
	}
	.domload-text{
		padding-left: 5%!important
	}
}
@media(max-width: 768px){
	.domload-text{
		padding-left: 0px
	}
}
@media (max-width: 1366px){

	.offer__download .download_text{
		margin-right: 0px
	}
	.offer__download{
		left: 10.5%
	}

}

@media (max-width: 1024px) and (min-width: 1024px){


			.logo {
		margin-left: 0px
			}

		.domload-text{
			padding-left: 3%!important
		}
				.offer__download{
			left: 5.5%;
		}
				.offer{
					position: absolute;
			margin-left: -5%
		}

}

@media (max-width: 1023px) and (min-width: 1366px){
	.offer{
		top: 200px!important;
		position: absolute;
}
}
@media (max-width: 1023px) and (min-width: 1366px){

}

@media (min-width: 320px) and (max-width: 415px){
	.offer{
		margin-left: -0%!important;
		margin-top: -23%!important
	}
	.logo {
    margin-left: 20%!important;
}

}

@media (min-width: 2560px) {
		/*index*/
	.navbar-light .navbar-nav .nav-link{
		font-size: 16px
	}
	.logo {
		width: 205px
	}
	.offer__title{
		font-size: 95px;
		letter-spacing: 0.05em
	}
	.offer{
		margin-left: 160px
	}
	.hashtag{
		left: -165px;
		top: 88%;
		font-size: 26px
	}
	.download_text{
		font-size: 20px
	}
	.app img{
		width: 160px
	}
	 .google img {
	 	width: 160px
	 }
	 .offer__download  {
	 	left: 15%;
	 }
	 .show .show_nav .show_start .show_title_one {
	 	font-size: 35px
	 }
	 .show_title_two, .show .show_text .show_text_box_text{
	 	font-size: 16px
	 }
	 .show_title_two, .show .show_text .show_text_box_text{
	 	font-size: 20px
	 }
	 .show .show_text{
	 	height: 230px
	 }
	 .show .show_text .show_text_box .learn_more{
	 	font-size: 18px
	 }
}

@media (min-width: 568px) and (max-width: 640px){
				.offer {
    margin-top: -55%!important;
    margin-left: 0%;
}
}
@media (min-width: 568px) and (max-width: 812px){
	.show .show_nav{
		height: 50px
	}
}
@media (max-width: 825px) and (min-width: 820px){
	.language {
		display: none!important
	}
				.offer {
    margin-top: -40%!important;
    margin-left: 0%;
}

	}
@media (min-width: 667px) and (max-width: 767px){
	.offer {
    margin-top: -44%;
    margin-left: 0%;
}
}
@media (max-width: 2559px) and (min-width: 1824px){
	.hashtag {
    left: -165px;
    top: 88%;
    font-size: 26px;
}
}
@media (max-width: 1280px) and (min-width: 1280px){
	.navbar-light .navbar-nav .nav-link{
		font-size: 12px
	}
	.logo{
		width: 123px;
		margin-left: 40px
	}
	.offer__title{
		font-size: 50px!important
	}
	.offer__btn{
		font-size: 14px;
		padding: 6.5px 52px;
	}
	.download_text{
		font-size: 12px
	}
	.hashtag{
		display: block;
		font-size: 16px
	}
	.offer{
		top: 41px;
		margin-left: 2.5%
	}
	.offer__download{
		left: 12%
	}
	.show .show_nav .show_start .show_title_one{
		font-size: 16px
	}
	.show .show_nav{
		height: 68px
	}
	.read_more_link{
		bottom: 12px
	}
	.offer__btn{
		width: 217px;
		height: 40px
	}
	
}