body {
  font-family: 'Amatic SC', cursive;
  overflow-x: hidden; }

a, a:hover {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

ul {
  padding: 0px;
  list-style: none; }

.container {
  width: 100%;
  max-width: 1394px;
  margin: 0 auto; }

.container-header {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto; }

button:focus {
  outline: none; }

input:focus {
  outline: none; }

h1 {
  font-size: 58px; }

h6 {
  font-size: 18px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 46px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 32px; }

p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; }

.span42 {
  font-size: 42px; }

.span22 {
  font-size: 22px; }

.span28 {
  font-size: 28px; }

.bg-fon-header {
  background-image: url(../images/bg-fon.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-left: 49px; }

.navbar-nav {
  padding: 43px 0px 0px 118px; }

.btn-theme {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px; }

.form-header {
  margin: 34px 83px 0px 226px; }

.phone, .navbar-logo {
  margin: 43px 0px 0px 0px; }

.info-header .list-info-header li {
  margin-top: 46px; }

.info-header h1 {
  margin-top: 120px; }

.form-info input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px; }

.btn-info {
  background: linear-gradient(#98257A, #63377A);
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px; }

.block-girl img {
  margin-top: 98px;
  width: 573px; }

.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid white;
  animation: intro;
  z-index: 99999; }

.bg-mouse {
  background-image: url(../images/bg-mouse.png);
  background-size: cover;
  width: 120px;
  height: 100px;
  margin: 0 auto; }

.scroll {
  display: block;
  width: 8px;
  height: 12px;
  margin: 6px auto;
  border-radius: 4px;
  border: 2px solid white;
  background: transparent;
  animation: finger;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes finger {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(20px); } }

.block-white {
  padding-bottom: 50px; }

.block-shop-content ul li {
  padding-top: 33px; }

.block-shop-content .elment-shop {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto; }
  .block-shop-content .elment-shop::after {
    content: ' ';
    position: absolute;
    width: 150px;
    height: 2px;
    background: #F7B12B;
    bottom: 0px;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto; }

.block-shop-content p {
  padding-top: 10px; }

.btn-shop {
  font-size: 12px;
  background: transparent;
  border: 1px solid #0788BB;
  color: #0788BB;
  border-radius: 5px;
  cursor: pointer; }

.block-sliders-1 h3 {
  padding-top: 50px;
  margin: 0px 0px 0px 125px; }

.block-sliders-bg {
  background-image: url(../images/sec-one.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  .block-sliders-bg .link-one {
    background-image: url(../images/border.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center; }
  .block-sliders-bg .slider-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; }
    .block-sliders-bg .slider-link h4 {
      margin-bottom: 130px; }
  .block-sliders-bg .block-slider-text span:nth-child(2) {
    margin-left: 70px; }
  .block-sliders-bg .block-slider-text span:nth-child(3) {
    margin-left: 70px; }

.bg-sliders-1 {
  background-image: url(../images/form-img.jpg);
  background-repeat: no-repeat; }

.slide-2 .link-one {
  background-image: url(../images/border-2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: right; }

.slide-2 .slider-link h4 {
  margin-bottom: 130px; }

.slide-2 .block-slider-text span:nth-child(2) {
  margin-left: 70px; }

.slide-2 .block-slider-text span:nth-child(3) {
  margin-left: 70px; }

.bg-form {
  background-image: url(../images/bg-form.png);
  background-repeat: no-repeat;
  height: 480px;
  background-position: center; }

.block-form input {
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  margin: 5px 5px 5px 0px; }
  .block-form input::-webkit-input-placeholder {
    padding: 5px 15px 5px 15px; }

.pbb-f {
  padding-top: 12rem; }

.form-opt {
  padding: 33px 115px 40px 0px; }

.form-opt-2 {
  padding: 33px 30px 40px 0px; }

.svg-links .svg-icons {
  margin: 0px 25px;
  border: 1px solid black;
  padding-top: 15px;
  width: 60px;
  height: 60px;
  border-radius: 360px; }
  .svg-links .svg-icons:hover {
    border: 3px solid #F7B12B; }

.bg-fon-stars {
  background-image: url(../images/graphic.png);
  background-repeat: no-repeat;
  background-position: right; }

.check-text {
  padding: 140px 0px 140px 0px; }
  .check-text h3 {
    margin: 50px 0px 0px 60px; }
  .check-text span {
    color: #85227C; }

.bg-check {
  background-image: url(../images/sec-tri.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 100%; }

.check-list .block-check, .check-list .block-check-2, .check-list-2 .block-check, .check-list-2 .block-check-2 {
  padding: 20px 0px 20px 20px;
  font-size: 18px; }
  .check-list .block-check::before, .check-list .block-check-2::before, .check-list-2 .block-check::before, .check-list-2 .block-check-2::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/small-check.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 40px;
    margin-left: -20px; }
  .check-list .block-check a, .check-list .block-check-2 a, .check-list-2 .block-check a, .check-list-2 .block-check-2 a {
    text-decoration: underline; }

.board-text {
  padding: 20px 0px 0px 180px; }

.board-bottom button {
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  margin-top: 22px; }

.stars-block li {
  padding: 10px; }

.stars-block li:nth-child(even) {
  background: #F8F9FA; }

.border-stars {
  padding-bottom: 10px;
  border-bottom: 1px solid #EA358B; }

.btn-stars {
  padding: 5px 40px 5px 40px; }

.block-map {
  margin: 0px;
  padding: 0px;
  position: relative; }

.map-text li {
  padding-left: 3em; }

.map-theme {
  position: absolute;
  top: 20px;
  right: 200px;
  background: white;
  padding: 35px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.foot-logo {
  margin-top: 0px; }

.foot-nav .navbar-nav {
  padding-top: 15px; }

.foot-form {
  margin-top: 10px; }

.foot-ph {
  margin-top: 20px; }

@media (max-width: 1366px) and (min-width: 320px) {
  .phone, .form-header, .block-girl, .md-none, aside {
    display: none; }
  .bg-check, .bg-sliders-1, .bg-fon-stars {
    background-image: none; }
  header, .footer {
    display: flex;
    justify-content: center; }
  .mar-mobile {
    margin: 0 auto; }
  .center {
    text-align: center; }
  .mob-flex {
    display: flex;
    justify-content: center !important; }
  .slide-2 .link-one {
    background-position: center; }
  .controls-2 .owl-nav {
    left: 0px;
    width: 100%; }
  .controls-2 .owl-dots, .board-bottom {
    display: none; }
  .d-col-none {
    display: none !important; }
  .map-theme {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
  .slide-mobile {
    display: block; }
  .btn-info {
    margin-left: 0 !important; }
  .form-opt, .form-opt-2 {
    padding: 30px 0px 40px 0px; }
  .board-text {
    padding: 100px 0px 100px 0px;
    text-align: center; }
  .block-tariff {
    display: block !important; }
  .check-text h3 {
    margin-right: 0px; } }

@media (max-width: 1280px) {
  h1 {
    font-size: 45px; }
  .board-text {
    max-width: 100%;
    flex: 100%; } }

@media (min-width: 768px) {
  .slide-mobile .owl-nav {
    left: 5%; }
  .block-tariff .owl-nav {
    top: 150px;
    width: 78%;
    left: 15%; }
    .block-tariff .owl-nav button.owl-prev {
      margin-right: 10%; } }

@media (max-width: 575px) and (min-width: 320px) {
  h1 {
    font-size: 25px; }
  h6 {
    font-size: 16px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 25px; }
  h4 {
    font-size: 18px; }
  h5 {
    font-size: 25px; }
  p {
    font-size: 12px; }
  .span42 {
    font-size: 25px; }
  .span22 {
    font-size: 16px; }
  .span28 {
    font-size: 22px; }
  .md-none {
    display: none !important; }
  .navbar-nav {
    padding: 43px 0px 0px 0px; }
  .controls-one .owl-nav {
    width: 100%;
    top: auto;
    bottom: -20px; }
  .controls-2 .owl-nav {
    top: 190px;
    position: absolute; }
  .controls-2 .owl-nav button.owl-next {
    position: relative;
    left: 70px; }
  .block-tariff .owl-nav {
    top: 150px;
    width: 100%; }
    .block-tariff .owl-nav button.owl-prev {
      margin-right: 50%; }
  .block-sliders-1 h3 {
    margin: 0px; }
  .controls-one .owl-nav {
    left: 0px;
    position: absolute;
    top: 190px; }
  .controls-one .owl-nav button.owl-next {
    position: relative;
    left: 70px; }
  .slide-2 .link-one, .slide-one .link-one {
    background-repeat: round;
    background-position: unset; } }
