@media (max-width: 360px) and (min-width: 320px)
	h1 
		font-size: 19px
	.pbb-5 
		padding-bottom: 150px
	.bg-timer 
		top: -40px
		p 
			font-size: 13px
	.block-check 
		padding: 0px 10px 0px 0px
	.fs18 
		font-size: 14px