// specifikation 

h1 
	font-size: 100px
	color: #4F4846 
@media (max-width: 575px)
	h1 
		font-size: 60px
h6 
	color: #4F4846 


// header 
.navbar 

.activen
	background-color: floralwhite
.fon
	background-repeat: no-repeat 
	background-size: cover 
.logo 
	padding-left: 60px
.btn-floating.btn-lg i 
	line-height: 40px
.btn-floating.btn-lg 
	width: 40px
	height: 40px

// text 
.block-text 
	padding: 100px 0px 300px 0px 

// sliders 
.img-fluid 
	filter: sepia(1)
	padding: 0px 15px
.slider
	overflow: hidden
.owl-carousel .owl-stage-outer
	overflow: inherit
.carousel-1 
	padding-bottom: 26px

// about 
.about 
	padding-bottom: 50px
	h2 
		padding: 50px 0px
.nav-text .nav-item 
	padding: 5px 0px

// contacts 
.contacts 
	padding-bottom: 50px
	h2 
		padding: 50px 0
