// specifikation 

h1 
	font-size: 100px
	color: #4F4846 
h6 
	color: #4F4846 


// header 
.fon
	background-repeat: no-repeat 
	background-size: cover 
.logo 
	padding-left: 60px

// text 
.block-text 
	padding: 100px 0px 300px 0px 

// sliders 
.img-fluid 
	filter: sepia(1)
	padding: 0px 15px
.slider
	overflow: hidden
.owl-carousel .owl-stage-outer
	overflow: inherit
.carousel-1 
	padding-bottom: 26px

