@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap')
// font 
.lato-reg 
	font-family: "Lato - Regular"
.lato-b 
	font-family: "Lato - Bold"
// specification 
.container
	max-width: 1170px 
	width: 100% 
	margin: 0 auto

body 
	font-family: 'Lato', sans-serif

img 
	width: 100%

a,a:hover 
	text-decoration: none 
	color: inherit

ul li 
	list-style: none
// color 
$col-pink: #a072f2
$col-black: #443f4a
$col-rose: #9969f1
$footer: #9969f1

.col-rose 
	color: $col-rose
.bg-repeat 
	background-repeat: no-repeat
// size 
$fs22: 22px
$fs20: 20px
$fs26: 26px
$fs32: 32px

h2 
	font-size: $fs22
h3 
	font-size: $fs20
@media (max-width: 575px) and (min-width: 320px)
	h3 
		font-size: 16px
h4 
	font-size: $fs26
h6 
	font-size: $fs32
	font-weight: 400	
@media (max-width: 575px) and (min-width: 320px)
	h6 
		font-size: 23px

// preloader 
#load
	position: fixed
	left: 0 
	top: 0 
	right: 0 
	bottom: 0 
	background: #fff 
	z-index: 1001 
	overflow: hidden

#load i 
	font-size: 70px 
	position: absolute 
	left: 50%
	top: 50% 
	margin: -35px 0 0 -35px 

// header 
.img-slider 
	position: absolute 
	top: 0px 
	left: 0px
header 
	overflow: hidden 

.navbar-light .navbar-nav .nav-link 
	color: rgb(99, 35, 151)

.header_logo 
	padding-bottom: 400px

.navbar-light .navbar-nav .nav-link.active 
	color: $col-pink

.navbar-toggler
	position: absolute 
	right: -5px 
	top: 10px

.navbar-nav .fab 
	padding: 5px
	margin-left: 10px
	border-radius: 180px
	width: 30px
	color: $col-pink
	background: linear-gradient(90deg, #FFFFFF 0%, rgba(206, 198, 198, 0.36) 48.96%, #BEADAD 100%)
	transition-duration: 1.2s
	&:hover 
		color: #73017D
		transition-duration: 1.6s
		transform-style: preserve-3d
		transform: rotateY(-360deg)

.pbb-5 
	padding-bottom: 3rem
// style_btn

.btn_header
	background-image: linear-gradient(45deg, #e676f9 0%, #9969f1 99%, #9969f1 100%)
	border-radius: 23px
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.26)
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.26)
	position: relative
	overflow: hidden
	z-index: 3
	width: 195px 
	height: 45px
	padding: 10px 0px !important
	&::before 
		content: " "
		position: absolute 
		width: 100% 
		background: linear-gradient(90deg, rgba(145, 86, 135, 0.7) 0%, rgba(173, 83, 159, 0.93) 53.62%, #81036D 100%)
		height: 100%
		border-radius: 23px
		top: 0 
		left: -400px
		transition-duration: 1.3s
		z-index: -1
.btn_header:hover::before 
	left: 0px
	transition-duration: 1.3s

// end---style_btn

// header-text 
.header_text 
	padding-bottom: 150px
	h2
		span 
			font-size: 16px
	h3 
		&::before 
			content: " "
			position: absolute 
			background-repeat: no-repeat
			top: 90%    
			transform: translate(35%, 0%)
			width: 100%
			height: 100%
	h4 
		.sp4 
			color: $col-pink
		&:before 
			content: " "
			position: absolute 
			background-repeat: no-repeat
			top: 90%    
			transform: translate(18%, -10%)
			width: 100%
			height: 100%

// section 1 
.section-1 
	padding-bottom: 150px
	.fs-32
		font-size: $fs32


.vector-img 
	background-position: top
	background-repeat: no-repeat

.text-color 
	color: $col-pink

// section-2
.section2 
	.fs-32 	
		font-size: $fs32
	.card-be::before
		display: none
.block-text li
	font-size: 17px
	position: relative
	margin-left: 10px
	&::before 
		content: " "
		position: absolute 
		width: 7px
		height: 7px
		background: #AE6E60
		border-radius: 23px
		margin: 10px -10px

// section-4 
.section4 
	background-size: cover
	padding: 350px 0px 365px 0px
	h3	
		top: 100px
		&::before 
			content: " "
			position: absolute 
			width: 826px
			background-repeat: no-repeat
			transform: translate(-15%, -60px)
			height: 200px
		span 
			font-size: 17px

// section5 
.section5 
	h3 
		font-weight: 400

.text_ab_me
	padding: 30px 0px 45px 0px
	&::before 
		content: " "
		background-repeat: no-repeat
		background-position: center
		width: 100% 
		height: 140px
		position: absolute
		left: 0px 
		top: -30px 
		z-index: -1

.clients 
	padding: 130px 0px 100px 0px
	.owl-item img 
		display: inline-block
	p 
		padding: 0px 80px 0px 80px

.clients .owl-nav
	display: flex 
	justify-content: space-between
	position: absolute
	width: 100%
	top: 35%
	.owl-prev
		background-size: cover 
		background-repeat: no-repeat!important
		width: 60px
		height: 60px
		&:hover 
			background: transparent
			color: inherit
			background-repeat: no-repeat!important
	.owl-next
		background-size: cover 
		background-repeat: no-repeat!important
		width: 60px
		height: 60px
		&:hover 
			background-size: cover 
			background-repeat: no-repeat!important
			color: inherit
			background: transparent

.clients .owl-dot.active span
	background: #9969f1!important

// section6 
.section6 
	h6 
		font-size: $fs32
		font-weight: 400
		padding-bottom: 140px
.card 
	height: 400px
	h3 
		font-size: 15px
		top: 10%
		width: 100%

.card-text
	font-size: 13px

.card-title 
	&::before 
		content: " "
		position: absolute 
		width: 50%
		height: 2px 
		background: #e28bd1
		left: 0
		right: 0
		margin: 0 auto
		top: 65px

// section 7 
.section7 
	padding-bottom: 35px
.bg-soc
	background-repeat: no-repeat
	background-position: top right

.block_soc_link
	h4 
		font-weight: 400 
		padding: 100px 0px 0px 0px

.block_links 
	img 
		height: 30px


// footer 
.footer 
	background: $footer 


// ABOUT_PAGE
// section2 
.about-bg .spam-bg
	background-repeat: no-repeat 
	background-size: cover 

.ppt-5
	padding-top: 160px

.email 
	border-bottom: 1px solid #d4d0df !important 
	background: transparent 
	border: transparent 
	width: 100%
::-webkit-input-placeholder 
	padding: 0px 30px
	color: white

.slick-prev:before, .slick-next:before
	display: none

.slick-next 
	display: flex 
	top: auto 
	bottom: -95px
	justify-content: flex-end
	right: 0px 
	z-index: 9
	background-repeat: no-repeat
.slick-prev 
	display: flex 
	top: auto 
	bottom: -95px
	justify-content: flex-end
	left: 0px 
	z-index: 9
	background-repeat: no-repeat



// recall_Page 
.card 
	height: auto 

.card-be::before 
	content: ""
	background-repeat: no-repeat 
	position: absolute 
	width: 100%
	height: 40px
	background-position: center 
	bottom: 0px

// blog-page 
.blog-input
	input 
		width: 100% 
		border-bottom: 1px solid #d4d0df !important
		border: transparent
	::-webkit-input-placeholder 
		color: #5f5d62 
		padding: 0px 10px



// media 
@import "media"