.pll-5 
	padding-left: 95px

@media (max-width: 767px)
	h1,h2
		font-size: 26px
	.pll-5
		padding-left: 1rem
	.mbb-5 
		padding-bottom: 20px

	.slick-next 
		right: 0px 
	.slick-prev 
		left: 0px

@media (max-width: 1024px)
	.len-header 
		height: 100%
	.card-group 
		flex-flow: column
	.card
		margin: 20px 0px !important

	.fs56 
		font-size: 43px
