@media (max-width: 1366px)
	h1,.text-h3
		padding: 0px 10px 0px 10px
	h3 
		padding-top: 15px
	.nav-link 
		padding: 10px 25px 0px 80px
	.text-h3 
		padding-top: 25px
	.p 
		padding: 0px 28px 9px 28px
@media (max-width: 1980px) and (min-width: 1366px)
	.p 
		padding: 0px 28px 9px 28px


