//media 
@media (max-width: 375px) and (min-width: 320px)
	.section-one .form .size-btn 
		width: 300px
		display: flex
		align-self: center
	.section-one .form 
		width: 100%
	.block-img 
		display: none