// 1290
@media (max-width: 2560px) and (min-width: 575px)
    .section-1 
        display: none
// 124px-575px
@media (max-width: 1024px) and (min-width: 575px)
    h1 
        font-size: 40px
    .block-img-2
        display: none
    .block-sec-6::before
        background-image: url(../images/elem.svg)
@media (max-width: 575px) and (min-width: 320px)
    h1
        font-size: 30px
    h2
    h3
    h4
    h5
    .fs-12 
        font-size: 12px
    .logo 
        width: 75px
    .ptt-1 
        padding-top: 5px
    .form-1::before 
        content: ' '
        display: none
    .sec-1,.foot-phone,.phone-block
        display: none
    .form-opt 
        width: 290px
        height: 47px
    .mobile-flex 
        display: flex
        justify-content: center!important
        text-align: center
        width: 100%
    .img-pos 
        width: 100%
        left: 0
    .section-5 .block-img 
        bottom: 0px
    .block-sec-6::before
        background-image: url(../images/elem.svg)
    .modal-dialog
        max-width: 100%
    .modal-title 
        font-size: 30px
    .f-ss 
        font-size: 12px
    .form-opt 
        font-size: 20px
    .block-img-2 
        width: auto
        bottom: 60px
    .pbb-1 
        padding: 0px
    .p-l
        padding: 0px!important
    .section-2 
        background-position: unset