// 1980px 
@media (max-width: 1920px)
    .bg-fon 
        margin-top: 105px
        background-position: center

// 1280px
@media (max-width: 1280px)
    .bg-fon 
        margin-top: 105px
        background-position: center

// 1366px
@media (max-width: 1366px)
    .bg-fon 
        margin-top: 105px
        background-position: center

// 1024px
@media (max-width: 1024px)
    .bg-fon 
        margin-top: 105px
        background-position: center
    .block-text 
        position: relative
        width: 50%
        right: 0px
    .phone-info h6 
        text-align: center
    .phone-info 
        margin: 0px 0px 0px 20px
        padding: 0px
    .block-phone 
        width: 50%
// 768px 
@media (max-width: 768px)
    .phone-info 
        justify-content: space-between!important

// 575-320px
@media (max-width: 575px) and (min-width: 320px)
    .block-nav 
        display: block
    .block-menu 
        height: auto
    .bg-fon .bg-fon__text h1
        font-size: 40px
        text-align: center
    .button-text
        display: flex
        justify-content: center 
        h5 
            display: none
    .bg-fon 
        margin-top: 280px
    
