// buttons
.btn-theme 
    background: #ee011c
.controls-one
  .owl-nav
    display: flex
    justify-content: space-between
    height: 50px
    position: absolute
    top: 220px
    width: 90%
    left: 9%
    button.owl-prev 
      background-image: url(../images/left.png)
      width: 100px
      background-repeat: no-repeat
      background-color: transparent
    button.owl-next 
      background-image: url(../images/right.png)
      width: 100px
      background-repeat: no-repeat
      background-color: transparent
.controls-2
  .owl-nav
    display: flex
    justify-content: space-between
    height: 50px
    position: absolute
    top:  210px
    width: 62%
    left: 47%
    z-index: 9
    button.owl-prev 
      background-image: url(../images/left.png)
      width: 100px
      background-repeat: no-repeat
      background-color: transparent
    button.owl-next 
      background-image: url(../images/right.png)
      width: 100px
      background-repeat: no-repeat
      background-color: transparent
.slide-mobile .owl-item img
  width: auto!important
  display: unset!important
.block-form-2
  h6 
    margin: 34px 0px 50px 30px
  button 
    margin-left: 20px
    border: 1px solid #2B2B2B
    background: transparent
    border-radius: 10px
    padding: 5px 50px 5px 50px
// owl-dots
.controls-one,.owl-dots
    bottom: 60px
    position: relative
.controls-2 .owl-dots
  position: relative
  bottom: 380px
  left: 380px

// bg
.bg-shop
  background: #F1F1F1
.bg-wolf 
    background: #F7F8F2
.bg-orange
  background: #F7B12B  
.bg-blue 
  background: #34BDF3
.pink 
  background: #EA358B
.bg-foot
  background: #2B2B2B
// padding
.pll-5 
  padding-left: 70px
.pll-3
  padding-left: 2rem

// scroll
.aside-block 
  .link-scroll
    background: #B1B1B1
    width: 10px
    height: 10px
    display: block
    margin: 20px 20px
    border-radius: 10px
    z-index: 999
    .active 
      background: #34BDF3
a.mPS2id-highlight
  background: #ff0

a.mPS2id-highlight
    background: #0079A8!important
.mPS2id-clicked 
  background: #E6FF00!important

// menu 
.navbar-mobile-menu li 
  padding-top: 10px
.navbar-mobile-menu
  position: absolute
  background: #222222
  z-index: 99
  top: 0px
  width: 100%
  height: 100vh
  padding: 0px 80px
  border-bottom: 1px solid white
  transition-duration: 1.5s
  animation-timing-function: linear
  .navbar-nav 
    padding-top: 50px
.navbar-toggler
  z-index: 999
  border: none
  top: 45px
  position: absolute
  right: -75%
.close
  z-index: 999
  opacity: 1
  position: absolute
  right: 10px
  top: 30px
  background-color: #222222
.op 
  display: none

.open
  transform: translateX(0%)!important