// all-htmlDocument
h1 
    font-size: 58px
h6 
    font-size: 18px
h2 
    font-size: 26px
h3 
    font-size: 46px
h4 
    font-size: 24px
h5 
    font-size: 32px
p 
    font-size: 14px
    font-family: 'Montserrat', sans-serif
.span42 
    font-size: 42px
.span22
    font-size: 22px
.span28
    font-size: 28px