// [fonts]
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300i,400|Rancho&display=swap')

// [specification]
.container 
	max-width: 1207px
	width: 100%
img 
	max-width: 100%

a,a:hover 
	text-decoration: none 
	color: inherit

p 
	margin: 0
// size
h1 
	font-size: 60px 
h2 
	font-size: 50px
h3 
	font-size: 40px
h5 
	font-size: 24px
h6 
	font-size: 21px

$size14: 14px
// color 
$orange: #F17B15
$red: #710502
$black: #151515

.other-fun 
	margin-top: 170px 
	margin-bottom: 70px
	h6 
		color: $orange

.bg-options
	background-repeat: no-repeat 
	background-size: cover 

// [header]
.hh
	height: 100vh

.navbar
	left: 0
	transition-duration: 1.5s
	&.active 
		background: black 
		height: 100vh
		margin-top: 0px !important
	&.scroll 
		background: #8d949c
		transition-duration: 1.5s
		position: fixed !important

.bg-slider 
	background-image: url(../images/fon.png)

.carousel-caption 
	top: 50vh

.slider-text h2 
	color: $orange

.bg-red 
	background: $red

// sec-about

// carousel
.carousel-cafe 
	.owl-nav.disabled 
		display: block
		pointer-events: auto !important
		position: absolute 
		width: 100%
		top: 43%
	.owl-nav button.owl-prev,
	.owl-nav button.owl-next 
		color: transparent
		position: absolute
		span
			width: 62px
			height: 61px
			position: absolute
			background-repeat: no-repeat
	.owl-nav button.owl-prev 
		left: 0
		span 
			background-image: url(../images/left.svg)
			background-position: right
			left: -110px
	.owl-nav button.owl-next
		right: 0
		span 
			background-image: url(../images/right.svg)
			background-position: left
			right: -110px

.carousel-cafe .owl-stage-outer
	cursor: w-resize 
// sextion-food 
.food-bg 
	background-image: url(../images/food.png)

.food-block 
	padding-top: 180px 
	.activ img
		padding-bottom: 190px

// section-menu 
.dotted 
	background-repeat: repeat-x
	background-position: 0px 20px
	background-size: 2px 2px
	background-image: linear-gradient(to right, #707070 50%, transparent 50%)
	width: 77%

.menu 
	ol li a 
		font-size: $size14
	ol li
		padding: 0 5px 0 0 !important
	li::before 
		padding-right: 5px !important

// section-clients
.client-bg 
	background-image: url(../images/clients.png)

.clients 
	.text-client
		padding: 60px 0px 60px 0px 
	h6 
		color: $orange

.form-btn 
	button 
		font-size: 16px
		background: $orange
		padding: 12px 70px
// [footer]
.footer 
	background: $black
	padding: 70px 70px
// [animation]
@import "animation.sass"
// [media]
@import "media.sass"