// specification
* 
  box-sizing: border-box

a,a:hover 
  text-decoration: none
  color: inherit

img 
  max-width: 100%

ul,li 
  list-style: none
  padding: 0px

.container 
  width: 100%
  max-width: 1200px
  margin: 0 auto 

button:focus 
  outline: none
  border-style: none
.no-gutters 
  padding: 0px
@import "options-file";
// header 
header 
  position: fixed
  top: 0
  width: 100%
  background: white
  .navbar-logo img
    width: 120px

.navbar-light .navbar-nav .nav-link
  color: #5e5e5e
  margin-left: 40px
  &:hover 
    color: black
.block-text
  background: #f2f2f2 
  height: 45px
  align-items: center
  width: 100%
  right: -425px
  position: absolute
  img 
    height: 15px
    margin-right: 20px
.phone-info 
  h6
    color: #363636
    font-weight: 100
.block-bg
  background: #f2f2f2
.block-nav 
  display: flex
  .block-item 
    padding: 10px 35px 10px 0px
    color: #5c5c5c
.block-menu  
  height: 50px

.bg-fon 
  background-image: url(../images/bg-fon.jpg)
  height: 100%
  background-repeat: no-repeat
  margin-top: 105px
  background-size: cover
  .bg-fon__text 
    padding-top: 127px
    h1 
      font-size: 65px
      letter-spacing: 0.1em
    .checkbox
      margin-top: 30px 
      img 
        margin-right: 15px
    .btn 
      background: #c43b49
      width: 175px
      border-radius: 30px
      padding: 10px
      color: white
      height: 60px
      margin-bottom: 50px
    .button-text h5 
      padding: 10px
      font-size: 35px
      letter-spacing: 0.1em
.weight
  font-weight: 100
// mobile
@import "mobile";