// specification
.bg 
	background-repeat: no-repeat 
	background-size: cover 

h1 
	font-size: 42px 

h2 
	font-size: 33px
// main 

.main-container 
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%)

.md-form label 
	color: black

#materialContactFormName,#materialContactFormPhone,#materialContactFormNameP,#materialContactFormEmail	
	border-bottom: 1px solid black

.btn-options 
	width: 258px 
	background: linear-gradient(90deg, #7EEAEA 0%, rgba(25, 102, 97, 0.73) 99.99%, rgba(170, 167, 167, 0.26) 100%)
	padding: 15px 88px
	border-radius: 60px
	border: none
	color: white
	text-transform: none