@media (max-width: 1366px) { /* line 2, ../sass/media.sass */
  h1, .text-h3 { padding: 0px 10px 0px 10px; }
  /* line 4, ../sass/media.sass */
  h3 { padding-top: 15px; }
  /* line 6, ../sass/media.sass */
  .nav-link { padding: 10px 25px 0px 80px; }
  /* line 8, ../sass/media.sass */
  .text-h3 { padding-top: 25px; }
  /* line 10, ../sass/media.sass */
  .p { padding: 0px 28px 9px 28px; } }
@media (max-width: 1980px) and (min-width: 1366px) { /* line 13, ../sass/media.sass */
  .p { padding: 0px 28px 0px 28px; } }
